
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e4e3e3;
}

.login-wrap {
    background-color: #fff;
    padding: 4rem 2.5rem;
    height: 100%;
    border-radius: 10px;
    border: 1px solid #ced4da; /* Added border */
  }

  .icon {
    font-size: 2.5rem;
    color: #007bff;
  }

  .login-form .form-control {
    border-radius: 10px;
  }



  .checkbox-wrap input {
    margin-right: 10px;
  }

  .submit {
    border: none;
    height: 40px;
    justify-content: center;
    width: 70px;
  }

  .user-card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    width: 200px;
    text-align: center;
    transition: box-shadow 0.3s ease, transform 0.2s ease;
  }

  .user-card:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    transform: scale(1.05) translateY(-5px);
  }

  .user-card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
  }

  .user-card h3 {
    margin: 0;
  }

  .user-card p {
    margin: 10px 0;
  }

  /* Anchor styles */
  .user-card a {
    text-decoration: none; /* Remove default underline */
    color: inherit; /* Inherit text color from parent */
  }
  #usercards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 800px;
    margin: 30px auto;
  }
