
  /* Add a box shadow and border to the table */
  .table-styled {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #dee2e6;
  }

  /* Apply primary blue color to table header */
  .table-styled thead {
    background-color: #2d84e0;
    color: #fff;
  }
