table {
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
.scroll-attendance{
    height: 70vh;
    max-height: 70vh;
    overflow-y: auto;
    padding: 5px;
    margin-top: 5px;
}
.absent {
    color: #940b0b; /* Red color for absent */
    font-weight: bold;
  }

  .present {
    color: #1db64e; /* Green color for present */
    font-weight: bold;
  }
th {
    background-color: rgb(228, 241, 235);
    width: 40vh;
    color: black;
}
#accountabilities-table tr:nth-child(even) {
    background-color: #e9f5f3;
}

