
body {
    background-color: #f0f0f0;
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    margin-left: 14.375%;
    padding: 1.25rem;
    transition: margin-left 0.3s ease-in-out;

}

.content.collapsed {
    margin-left: 4.5%;
}

.hidden
{
    display: none;
}
.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 95%;
    margin-top: 50px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    padding: 15px;
    background-color: #ffffff;
    /* border-radius: 10px; */
}

#tablecontainer{
    width: 95%;
    margin-top: 20px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    padding: 15px;
    background-color: #ffffff;
    /* border-radius: 10px; */
}
#evaluationform{
    width: 80%;
    margin-top: 50px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    padding: 15px;
    background-color: #ffffff;
    /* border-radius: 10px; */
}

.transparent-btn {
    background-color: transparent;
    border-color: transparent;
    color: grey;
}

#containers{
    margin-top: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
