
body{
    background-color: #f0f0f0;
    font-family: Arial, Helvetica, sans-serif;
}
.top-nav {
    background-color: #ffffff;
    color: #000000;
    padding: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-nav  .notification-button{
    display: flex;
    align-items: center;
    color: #000000;
    text-decoration: none;
    margin-right: 10px;
}
.nav-name{
  padding-left: 60px;
}
.top-nav .profile-dropdown {
    display: flex;
    align-items: center;
    color: #000000;
    text-decoration: none;
}

.top-nav .profile-dropdown .profile-name {
    margin-right: 5px;
}

.sidebar {
    position: absolute;
    top: 50px;
    left: 0;
    height: 100vh;
    width: 200px;
    background-color: #343a40; /* Dark background color */
    overflow-y: auto;
    transition: width 0.3s ease-in-out;
    z-index: 1000;
}

.sidebar.collapsed {
    width: 72px;
}

.content {
    margin-left: 230px;
    padding: 20px;
    transition: margin-left 0.3s ease-in-out;
}

.content.collapsed {
    margin-left: 72px;
}

.nav-link-text {
    display: inline-block;
    transition: margin-left 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.sidebar.collapsed .nav-link-text {
    margin-left: -999px;
    opacity: 0;
}

.sidebar.collapsed .nav-link-text span {
    display: none;
}

.sidebar-title .bi {
    color: #fff;
}

.nav-link i.bi {
    color: #fff;
}

/* Toggle button  */

.toggle-button {
    position: absolute;
    top: 7px;
    left: 19px;
    border: 1px;
    background-color: #e3e5e9;

}

/* Updated styles for smaller devices */
@media (max-width: 768px) {
    .sidebar {
        width: 230px;
    }

    .sidebar.collapsed {
        width: 60px;
    }

    .content {
        margin-left: 72px;
    }

    .content.collapsed {
        margin-left: 0;
    }

    .toggle-button {
        top: 20px;
        left: 20px;
    }

    .dropdown-menu {
        position: static;
        float: none;
    }
}

/* New styles for the timeline pane */
.timeline-container {
position: absolute;
top: 70px;
right: 20px;
width: 350px;
height: 210px;
padding: 20px;
padding-bottom: 50px;
border-radius: 10px;
background-color: #ffffff;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.timeline-header {
display: flex;
justify-content: space-between;
align-items: center;
}
.timeline-content {
margin-top: 20px;
overflow-y: auto; /* Add scrollbar for vertical overflow */
max-height: 100px;
}

.timeline-event {
margin-bottom: 10px;

}
.timeline-event-list {
list-style: none;
padding: 0;
margin: 0;
}

.event-date {
font-weight: bold;
color: #007bff;
}

.event-description {
margin-left: 10px;
}
.calendar-container {
border-radius: 10px;
position: absolute;
bottom: 30px;
right: 20px;
width: 350px;
height: 300px;
margin: 0 auto;
background-color: white;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Added box shadow */
}

table {
border-collapse: collapse;
width: 100%;
}

th, td {
text-align: center;
padding: 8px;
font-size: 14px; /* Adjusted font size */
}

th {
background-color: #f2f2f2;
}

td {
border: 1px solid #dddddd;
}

.today {
background-color: #007bff;
color: white;
}

.dashboard {
    display: flex;
    margin-top: 20px;
}

.dashboard-card {
width: 200px; /* Set a fixed width for the cards */
height: 150px; /* Set a fixed height for the cards */
background-color: #fff;
padding: 10px;
text-align: center;
border-radius: 10px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
transition: box-shadow 0.3s ease;
margin-right: 15px; /* Adjust the distance between each card */
}

.dashboard-card:hover {
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dashboard-card h6 {
margin: 0;
font-size: 18px; /* Change the font size to a bit smaller */
color: #333;
display: flex; /* Add display flex */
align-items: center; /* Center the icon vertically */
justify-content: center; /* Center the icon horizontally */
}

.dashboard-card i {
margin-right: 5px; /* Add some spacing between the icon and text */
font-size: 48px; /* Increase the icon size */
}

.dashboard-card p {
font-size: 36px;
color: #007bff;
margin: 10px 0;
}
 /* Additional styles for buttons */
 .dashboard-buttons {
    display: flex;

    margin-right: 15px;

}

.dashboard-button {
background-color: #e8e8e8;
color: #333;
padding: 10px;
text-align: center;
border-radius: 10px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
transition: box-shadow 0.3s ease;
margin-top: 30px;
cursor: pointer;
margin-right: 10px; /* Add right margin for spacing */

}


.dashboard-button:hover {
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dashboard-button.events {
background-color: #ffbb33;
}

.dashboard-button.accountabilities {
background-color: #00cc99;
}

.dashboard-button.attendance {
background-color: #66a3ff;
}

.dashboard-button.evaluation {
background-color: #ff4d4d;
}

.dashboard-button.student-organization {
background-color: #9933ff;
}
